.app {
	.scoreboard {
		@include flex-column;
		margin-top: 1em;
		width: 100%;

		&__player,
		&__computer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 1em;
			padding-inline: 3em;

			.computer,
			.player {
				font-size: var(--scoreboard-font-size);
				color: var(--yellow-color);
			}

			.player-score,
			.computer-score {
				font-size: var(--scoreboard-font-size);
				color: var(--pure-white);
			}
		}
		&__btn {
			width: 100%;
		}
	}
	&__find {
		@include flex-column;

		row-gap: 1em;

		&-title {
			font-size: 1.6rem;
			color: var(--yellow-color);
			text-transform: uppercase;
		}

		.image-to-find {
			display: flex;
			width: 120px;
			height: 150px;
			background-position: center;
			background-size: cover;
			border-radius: 10px;
		}
	}
}
