.dialog {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 7em 0.5em 1em 0.5em;
	width: 800px;
	align-items: center;
	border-radius: 10px;
	gap: 10px;

	&__title {
		margin-top: 1em;
		text-transform: uppercase;
		font-family: serif;
		text-align: center;
	}

	&__description {
		text-transform: uppercase;
		padding-inline: 2.5em;
		line-height: 2.9rem;
		color: aliceblue;
		text-align: center;
	}
}

.form {
	position: relative;
	display: flex;
	flex-direction: column;
	align-self: center;
	margin-top: 0.5em;
	width: 70%;

	.form__area {
		position: relative;
		display: flex;
		flex-direction: column;

		legend {
			margin: 1em 0;
			text-transform: uppercase;
			text-align: center;
			font-family: serif;
			line-height: 2.9rem;
		}
	}
	&__area-input {
		display: flex;
		justify-content: space-between;
		margin: 1em 0;
	}

	&__area-input-name {
		padding: 0.3em 2em 0.3em 0.5em;
		font-size: 1.8rem;
		background-color: $nameInput-background;		
		border-radius: 5px;
	}

	&__area-input-check {
		display: inline-block;
		width: 20px;
		height: 20px;
	}
}
