:root {
	// Colors
	--pure-white: #fff;
	--pure-black: #000;
	--main-background: #333;
	--yellow-color: #ffe81f;
	--input-background: #3a3a3a;

	// Font-size
	--h1-size: 4.8rem;
	--h2-legend-label-size: 1.8rem;
	--scoreboard-result-size: 3rem;
	--scoreboard-font-size: 2rem;
}

@mixin flex-row {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-column {
	position: relative;
	display: flex;
	flex-direction: column;
}
