:root {
	--pure-white: #fff;
	--pure-black: #000;
	--main-background: #333;
	--starwars-color: #ffe81f;
	--nameInput-background: #3a3a3a;
	--h1-size: 4.8rem;
	--h2legendlabel-size: 1.8rem;
	--scoreboard-font-size: 2rem;
	--scoreboard-result-size: 3rem;
}

@mixin flex-row {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-column {
	position: relative;
	display: flex;
	flex-direction: column;
}
