@import '../src/styles/reset';
@import '../src/styles/variables';
@import '../src/styles/buttons';
@import '../src/styles/layout';
@import '../src/styles/dialog';
@import '../src/styles/game';
@import '../src/styles/scoreboard';
@import '../src/styles/helpers';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	font-family: sans-serif;
	background-color: var(--main-background);
	height: 100svh;
}
