@import './styles/utils/reset';
@import './styles/variables/variables';
@import './styles/components/buttons';
@import './styles/views/layout';
@import './styles/components/dialog';
@import './styles/components/find-container';
@import './styles/helpers/helpers';
@import './styles/components/game';
@import './styles/components/scoreboard';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	font-family: sans-serif;
	background-color: var(--main-background);
	height: 100svh;
}
